# ===============================================================================
# PostgreSQL OLTP
# ===============================================================================

POSTGRES_OLTP_DB=ecommerce
POSTGRES_OLTP_USER=ecommerce
POSTGRES_OLTP_PASS=ecommerce

POSTGRES_OLTP_HOST_PORT=5433

DEBEZIUM_USER=debezium
DEBEZIUM_PASS=debezium

KAFKA_HOST_PORT=9092
