# ===============================================================================
# PostgreSQL OLTP
# ===============================================================================

POSTGRES_OLTP_DB=ecommerce
POSTGRES_OLTP_USER=ecommerce
POSTGRES_OLTP_PASS=ecommerce
POSTGRES_OLTP_HOST_PORT=5433


# ===============================================================================
# PostgreSQL DWH
# ===============================================================================

POSTGRES_DWH_DB=ecommerce_dwh
POSTGRES_DWH_USER=ecommerce
POSTGRES_DWH_PASS=ecommerce
POSTGRES_DWH_HOST_PORT=5435


# ===============================================================================
# Debezium
# ===============================================================================

DEBEZIUM_USER=debezium
DEBEZIUM_PASS=debezium


# ===============================================================================
# Kafka
# ===============================================================================

KAFKA_HOST_PORT=9092
